* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.red-checkbox {
  accent-color: red;
}
